<div class="col-md-12">
  <div style="position: absolute; right: 15px; z-index: 1;">
    <button {{bind-attr class=":btn profile:btn-default:btn-default"}} {{action "savePage"}}>
      Save
    </button>
  </div>
  <h1>{{name}}</h1>
  <div class="row">
    <div class="col-md-6">
      {{format-markdown page}}
    </div>
    <div class="col-md-6">
      {{textarea class="form-control" rows="25" value=page}}
    </div>
  </div>
</div>
