<div class="wrap">
	<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				{{link-to 'Landing' 'index' class='navbar-brand'}}
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					{{#link-to "index" tagName="li"}}
						{{#link-to "index"}}
							<i class="fa fa-home"></i> <span>Home</span>
						{{/link-to}}
					{{/link-to}}
					{{#link-to 'guilds' tagName="li"}}
						{{#link-to 'guilds'}}
							<i class="glyphicon glyphicon-tower"></i> <span>Guilds</span>
						{{/link-to}}
					{{/link-to}}
					{{#link-to "about" tagName="li"}}
						{{#link-to "about"}}
							<i class="fa fa-info-circle"></i> <span>About</span>
						{{/link-to}}
					{{/link-to}}
				</ul>

				<ul class="nav navbar-nav navbar-right" style="margin-right: 0">
					{{#if session.isAuthenticated}}
					<li class="dropdown">
						<a href class="dropdown-toggle" data-toggle="dropdown">
								{{session.username}} has logged on
						</a>
						<ul class="dropdown-menu" role="menu">
							<li>{{link-to "Profile" "profile"}}</li>
							<li class="divider"></li>
							<li><a {{action 'invalidateSession'}}>Log Out</a></li>
						</ul>
					</li>
					{{else}}
					<button {{action 'authenticateSession'}} class="btn btn-danger navbar-btn">
						Login
					</button>
					{{/if}}
				</ul>
			</div>
		</div>
	</nav>

	<main class="content">
		<div class="container">
			{{outlet}}
		</div>
	</main>

	<div class="footer">
		<div class="container">
			<div class="footer-logo">
				<span>
					{{#link-to "index"}}
						Landing
					{{/link-to}}
				</span>
			</div>
			<dl class="footer-nav">
				<dt class="nav-title">COMMS</dt>
				<dd class="nav-item">
					<a href {{action 'navigate' 'slack'}}>{{fa-icon "slack"}} Slack</a>
				</dd>
				<dd class="nav-item">
					<a href {{action 'navigate' 'trello'}}>{{fa-icon "trello"}} Trello</a>
				</dd>
			</dl>
			<dl class="footer-nav">
				<dt class="nav-title">DEVELOPER</dt>
				<dd class="nav-item">
					<a href {{action 'navigate' 'github'}}>{{fa-icon "github"}}</i> Github</a>
				</dd>
			</dl>
			<dl class="footer-nav">

			</dl>
		</div>
		<div class="footer-copyright text-center">Made with <span>{{fa-icon "heart"}}</span> by Workshop Guild</div>
	</div>
</div>